<!DOCTYPE html>
<meta charset='utf-8' />

<style type= "text/css">
.cover{
  width: 595px;
  height: 842px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cover h1{
  font-size: 40px;
}
.coverTitle{
  width: 100%;
  text-align: center;
}
.task{
  width: 100%;
  position: relative;
}
.task__info{
  position: absolute;
  top: 0;
  right: 0;
}
.imageBook{
  display: block;
  margin: 0 auto;
}
.info p {
  text-align: center;
}

</style>
<div class="cover">
  <h1 class="coverTitle"><%=  @book.title%></h1>
  <img class="imageBook" src="<%=@book.cover_original%>" alt="">
  <div class="info">
    <p><%=@book.user.name%></p>
    <p><%=@book.created_at.strftime('%d/%m/%Y') %></p>
  </div>
</div>
  <% @book.tasks.all.each do |task| %>
<div class="task">
  <div class="task__info">
    <p><%=task.user.name %></p>
    <p><%= task.created_at.strftime('%d/%m/%Y') %></p>
  </div>
</div>
<%end%>
